<head>
  <style>
    body {
      background-color: rgb(228, 233, 235);
    }
    .background-image {
      /*background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');*/
      background-image: url('/images/background7.jpg');
      background-size: cover;
      display: block;
      filter:blur(5px);
      -webkit-filter: blur(5px);
      height: 800px;
      left: 0;
      position: fixed;
      right: 0;
      z-index: 1;
      top: -10px;
    }
    .content {
      /*background: rgba(255, 255, 255, 0.35);*/
      border-radius: 3px;
      /*box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);*/
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      top: 100px;
      left: 0;
      position: fixed;
      margin-left: 20px;
      margin-right: 20px;
      right: 0;
      z-index: 2;
      padding: 0 10px;
    }
    input {
      width: 118%;
      margin: 0 auto;
      border-radius: 3px;
      border: none;
      height: 30px;
      text-align: center;
    }
    .login {
      margin: 30px auto;
      width: 30%;
      align-items: center;
      min-width: 300px;
    }
    .login-screen {
      /*background-color: #FFF;*/
      background: rgba(255, 255, 255, 0.65);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
      padding: 20px;
      border-radius: 5px;
      justify-content: center;
    }
    .new_user {
      margin: 0 auto;
    }
    .actions {
      width: 30%;
    }
    .app-title {
      text-align: center;
      font-family: 'Leckerli One', cursive;
      padding-bottom: 10px;
    }
    .list {
      text-align: center;
      color: #777;
    }
    .input-form {
      /*padding-left: 13px;*/
      padding-bottom: 13px;
      margin-left: 17px;
      display: block;
      justify-content: center;
      text-align: center;
    }
    .actions {
      display: block;
      margin-left: auto;
      margin-right: 63px;
      width: 80%;
    }
    button {
      display: block;
      margin-left: auto;
      margin-right: 63px;
      width: 100%;
      height: 30px;
      font-size: 10px;
      background-color: rgb(143, 152, 151);
    }
    .more-links {
      text-align: center;
      margin-right: 15px;
    }

    a {
      font-size: 13px;
    }
  </style>
</head>
<body>
  <div class="background-image"></div>
  <div class="content">

    <div class="login">
      <div class="login-screen">

        <div class="app-title" "brand-name">
          <h2>Rejection Therapy</h2>
        </div>
        <div class="input-form">

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <!-- <%= f.label :email, :class => "control-label", :placeholder =>"Email" %><br/> -->
            <%= f.email_field :email, autofocus: true, :placeholder =>"Your Email" %>
          </div>

          <div class="field">
            <!-- <%= f.label :password, :class => "control-label" %><br/> -->
            <%= f.password_field :password, autocomplete: "off",:placeholder =>"Password" %>
          </div>

          <!-- <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <% end -%> -->

          <div class="actions">
            <%= f.submit "Log in"%>
          </div>
          <% end %>
          <div class="more-links">
            <button class="btn btn-default" type="submit">
            <!-- <%= render "devise/shared/links" %> -->
            <%= link_to "Sign Up", new_user_registration_path %>
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>

</body>
