<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="instructions" "header">
    <b>Hello
      <%= current_user.username %>, fill in today's entry
      <a href="/posts/new">here</a>
    </b>
  </div>

</div>
<% @posts.each do |post| %>
<div class="panel panel-default" "boxes">
  <div class="panel-heading">
    <div id="challenge-heading">
      <b><%= post.challenge.content unless post.challenge.blank? %></b>
    </div>
    <h5>
      <span class="glyphicon glyphicon-time"></span>
      Posted on
      <%= post.created_at.strftime('%b %d') %>
      by
      <%= post.user.username %></h5>
  </div>
  <div class= "body-posts">
    <% if !post.image.blank? %>
    <div class="panel-body" id="image-posts">
      <%=  image_tag post.image.url('medium'), class: "img-rounded" %>
    </div>
    <% end %>
    <div class="content-posts">

      <div class="panel-body">
        <p>
          <b>What I did:</b>
          <br/><%= post.whatIdid %></p>
      </div>
      <div class="panel-body">
        <p>
          <b>What I learnt:</b>
        </br><%= post.whatIlearnt %></p>
    </div>

  </div>
</div>
<div class="vote-button">

  <%= link_to like_post_path(post), class: "like", method: :put do %>
  <button type="button" class="btn btn-info" aria-label="Left Align">
    <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
    <span class="badge"><%=post.get_upvotes.size%>
    </span>
  </button>
  <% end %>

  <%= link_to dislike_post_path(post), class: "like", method: :put do %>
  <button type="button" class="btn btn-info" aria-label="Left Align">
    <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
    <span class="badge"><%=post.get_downvotes.size%>
    </span>
  </button>
  <% end %>
</div>
</div>

<!-- <button class="btn btn-default">
    <%= link_to "Edit", edit_post_path(post)%>
  </button> -->

<% end %>

</div>
