<% @posts.each do |post| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <div id="challenge-heading">
      <b><%= post.challenge.content unless post.challenge.blank? %></b>
    </div>
    <h5>
      <span class="glyphicon glyphicon-time"></span>
      Posted on
      <%= post.created_at.strftime('%b %d') %></h5>
  </div>
  <div class="body-posts">
    <% if !post.image.blank? %>
    <div class="panel-body" id="image-posts">
      <%=  image_tag post.image.url('medium'), class: "img-rounded" %>
    </div>
    <% end %>
    <div id="content-posts">

      <div class="panel-body">
        <p>
          <b>What I did:</b>
          <br/><%= post.whatIdid %></p>
      </div>
      <div class="panel-body">
        <p>
          <b>What I learnt:</b>
        </br><%= post.whatIlearnt %></p>
    </div>

  </div>
</div>

<div class="edit-button">

  <button class="btn btn-default" "edit-button">
    <%= link_to "Edit", edit_post_path(post)%>
  </button>

</div>

</div>

<% end %>

<style>
